<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../stylesheets/show.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <h1>Welcome to the Masculine Blog</h1>
        <p>
            <b>Where boys become men!!</b>
        </p>
    </div>
    <div class="navbar" id="myTopnav">
        <a href="../views/home.html" class="active">Home</a>
        <a href="../views/login.html">Login</a>
        <a href="../views/signUp.html">Sign Up</a>
        <a href="#Logout">Logout</a>
        </a>
    </div>

    <script src="../script/home.js"></script>
</body>

</html>